@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.contact,
.experience,
.home,
.projects {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 19.6px;
  flex-shrink: 0;
}
.contact,
.experience,
.projects {
  width: 63.5px;
}
.contact,
.experience {
  width: 84.6px;
}
.contact {
  width: 64.6px;
}
.header,
.navbar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.navbar {
  flex-direction: row;
  gap: 71px;
}
.header {
  height: 82px;
  width: 99.86%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(34, 34, 34, 0.7);
  box-shadow: 0 4.4px 16px -2.18px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  padding: 30.90969467163086px 483px;
  box-sizing: border-box;
  margin-left: 2px;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--primary-color);
  font-family: var(--font-plus-jakarta-sans);
}
.i-code-and {
  margin: 0;
}
.about-it {
  background: linear-gradient(115.69deg, #ff8660, #9a34ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title1 {
  margin: 0;
  position: absolute;
  width: 106.87%;
  top: 0;
  left: -3.13%;
  font-size: inherit;
  line-height: 61.86px;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
}
.frame2,
.title {
  position: absolute;
  top: 0;
  left: 0;
  width: 670px;
  height: 127px;
}
.frame2 {
  top: 254px;
  width: 672px;
  overflow: hidden;
}
.frame3,
.rectangle-icon {
  position: absolute;
  top: 0;
  height: 240px;
}
.rectangle-icon {
  left: 1px;
  width: 241px;
  object-fit: cover;
}
.frame3 {
  left: 215px;
  width: 242px;
  overflow: hidden;
}
.frame1 {
  position: relative;
  width: 672px;
  height: 381px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame {
  position: absolute;
  top: 0;
  left: -1px;
  width: 1442px;
  height: 570px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 107px;
}
.instagram-icon,
.x-icon {
  position: relative;
  width: 18px;
  height: 18px;
}
.x-icon {
  width: 17px;
  height: 16px;
}
.contact-icons {
  position: absolute;
  height: 4.3%;
  width: 4.28%;
  top: 69.25%;
  right: 73.28%;
  bottom: 26.46%;
  left: 22.44%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 27px;
}
.contact-title {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.02em;
}
.contact-subtitle {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 150%;
}
.contact-subtitle1 {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 10.09%;
  letter-spacing: 0.02em;
  font-weight: 600;
  color: inherit;
}
.email-icon {
  position: absolute;
  height: 78.57%;
  width: 7.57%;
  top: 9.52%;
  right: 92.43%;
  bottom: 11.9%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame9 {
  top: 76px;
  left: 0;
  width: 218px;
  height: 21px;
  font-size: 14.12px;
  color: var(--secondary-text);
}
.frame7,
.frame8,
.frame9 {
  position: absolute;
  overflow: hidden;
}
.frame8 {
  top: 78.4px;
  left: 0.3px;
  width: 937px;
  height: 97px;
  font-size: 14.49px;
  color: var(--light-grey);
}
.frame7 {
  top: 82.6px;
  left: 324.7px;
  width: 937.3px;
  height: 175.4px;
}
.footer,
.frame6 {
  position: absolute;
  left: 0;
}
.footer {
  height: 100%;
  width: 99.46%;
  top: 0;
  right: 0.54%;
  bottom: 0;
  background-color: #1a1919;
  text-align: left;
  font-size: 23.53px;
  color: var(--primary-color);
  font-family: var(--font-poppins);
}
.frame6 {
  top: 1045px;
  width: 1456px;
  height: 418.8px;
  overflow: hidden;
}
.custom,
.logo-design {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
}
.custom {
  width: 74.49%;
  top: 0;
  font-size: var(--font-size-3xs);
  line-height: 19px;
  color: var(--secondary-text);
}
.image-1-icon,
.project-title {
  position: absolute;
  top: 247px;
  left: 23px;
  width: 147.4px;
  height: 40px;
}
.image-1-icon {
  height: 59.47%;
  width: 50.26%;
  top: 12.96%;
  right: 24.87%;
  bottom: 27.57%;
  left: 24.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.nd-project {
  position: absolute;
  height: 100%;
  width: 48.15%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 51.85%;
  border-radius: var(--br-lg);
  background-color: var(--card-color);
}
.sneaker-ui {
  position: absolute;
  width: 40.46%;
  top: 0;
  left: 0;
  font-size: var(--font-size-3xs);
  line-height: 19px;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--secondary-text);
  display: inline-block;
}
.project-title1,
.st-project {
  position: absolute;
  top: 247px;
  left: 23px;
  width: 261px;
  height: 40px;
}
.st-project {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--card-color);
}
.page-6-icon {
  position: absolute;
  height: 73.75%;
  width: 90.77%;
  top: 5.65%;
  right: 4.87%;
  bottom: 20.6%;
  left: 4.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame10,
.frame11,
.frame5 {
  position: absolute;
  top: 0;
  height: 301px;
  overflow: hidden;
}
.frame11 {
  left: 0;
  width: 390px;
  font-family: var(--font-poppins);
}
.frame10,
.frame5 {
  left: 323px;
  width: 810px;
}
.frame5 {
  top: 597px;
  left: 0;
  width: 1456px;
  height: 1463.8px;
}
.experience-subtitle-txt-container {
  line-break: anywhere;
  width: 100%;
}
.experience-subtitle {
  position: absolute;
  height: 45.45%;
  width: 100%;
  top: 54.55%;
  left: 0;
  line-height: 150%;
  display: flex;
  align-items: center;
}
.google-logo-icon {
  position: absolute;
  height: 24.24%;
  width: 4.26%;
  top: 3.79%;
  right: 93.61%;
  bottom: 71.97%;
  left: 2.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.experience1 {
  position: absolute;
  width: 18.77%;
  top: 0;
  left: 80.4%;
  line-height: 150%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.st-experience {
  position: absolute;
  top: 5px;
  left: 17px;
  width: 799.6px;
  height: 132px;
}
.experience-subtitle1,
.experience-title {
  position: absolute;
  display: flex;
  align-items: center;
}
.experience-title {
  width: 69.75%;
  top: -0.22%;
  left: 6.79%;
  font-size: 21.74px;
  color: var(--primary-color);
  text-align: center;
  justify-content: center;
}
.experience-subtitle1 {
  height: 52.17%;
  width: 99.35%;
  top: 47.83%;
  left: 0;
  line-height: 150%;
}
.apple-logo-icon {
  position: absolute;
  height: 100%;
  width: 3.37%;
  top: 0;
  right: 96.63%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.experience2 {
  position: absolute;
  width: 18.65%;
  top: 12.94%;
  left: 81.35%;
  line-height: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame14,
.nd-experience {
  position: absolute;
  width: 804.8px;
}
.frame14 {
  top: 0;
  left: 0;
  height: 30.9px;
  overflow: hidden;
  text-align: center;
}
.nd-experience {
  top: 167px;
  left: 5.2px;
  height: 115px;
  display: none;
}
.experience-subtitle2 {
  position: absolute;
  height: 51.28%;
  width: 98.97%;
  top: 48.72%;
  left: 0;
  line-height: 150%;
  display: flex;
  align-items: center;
}
.meta-logo-icon {
  position: absolute;
  height: 66.67%;
  width: 4.02%;
  top: 18.18%;
  right: 95.98%;
  bottom: 15.15%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.experience-title1,
.experience3 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.experience3 {
  width: 18.68%;
  top: 18.18%;
  left: 81.32%;
  line-height: 150%;
}
.experience-title1 {
  width: 38%;
  top: 0;
  left: 5.31%;
  font-size: 21.74px;
  color: var(--primary-color);
}
.frame15 {
  position: absolute;
  top: 0;
  left: 4.2px;
  width: 803.7px;
  height: 33px;
  overflow: hidden;
  text-align: center;
  color: var(--light-grey);
}
.rd-experience {
  position: absolute;
  top: 331px;
  left: 2.1px;
  width: 807.9px;
  height: 117px;
  display: none;
  color: var(--secondary-text);
}
.tempimagefwq0hz-1-icon {
  position: absolute;
  height: 5.8%;
  width: 2.22%;
  top: 0.67%;
  right: 95.31%;
  bottom: 93.53%;
  left: 2.47%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.experience-section {
  position: absolute;
  top: 1087px;
  left: 0;
  width: 810px;
  height: 448px;
}
.about-me1 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: 0.02em;
  font-weight: 300;
  display: inline-block;
}
.about-me,
.frame17 {
  position: absolute;
  top: 0;
  height: 108px;
}
.frame17 {
  left: 23px;
  width: 775px;
  overflow: hidden;
}
.about-me {
  left: 7px;
  width: 679px;
}
.frame13,
.frame16 {
  position: absolute;
  top: 0;
  overflow: hidden;
}
.frame16 {
  left: -26px;
  width: 885px;
  height: 108px;
  text-align: center;
  font-size: 18px;
  color: var(--secondary-text);
}
.frame13 {
  left: 0;
  width: 810px;
  height: 1535px;
}
.get-in-touch {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 136px;
  height: 31.5px;
  flex-shrink: 0;
  -webkit-text-stroke: 0.3px #fff;
}
.get-in-touch-button {
  text-decoration: none;
  border-radius: var(--br-31xl);
  background: linear-gradient(#fff, #fff), #fff;
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
  width: 195px;
  height: 63px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 29px;
  color: inherit;
}
.download-cv-button:hover,
.get-in-touch-button:hover {
  animation: 1s ease 0s infinite normal none pulsate;
  opacity: 1;
}
.github {
  position: absolute;
  height: 50%;
  width: 36.27%;
  top: 25.08%;
  left: 31.86%;
  font-weight: 600;
  display: inline-block;
}
.download-cv-button {
  text-decoration: none;
  position: relative;
  border-radius: var(--br-31xl);
  border: 2px solid var(--primary-color);
  box-sizing: border-box;
  width: 204px;
  height: 63px;
  color: var(--primary-color);
}
.action-buttons,
.frame20 {
  position: absolute;
  top: 0;
  left: 0;
  height: 63px;
}
.action-buttons {
  width: 417px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
}
.frame20 {
  width: 448px;
  overflow: hidden;
}
.html-icon,
.javascript-icon {
  position: relative;
  width: 42px;
  height: 42px;
}
.html-icon {
  width: 37px;
}
.logos {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 60.45px;
}
.vector-icon {
  height: 100%;
  width: 11.5%;
  right: 21.14%;
  bottom: 0;
  left: 67.36%;
  max-width: 100%;
  max-height: 100%;
}
.frame21,
.frame22,
.vector-icon,
.vector-icon1 {
  position: absolute;
  top: 0;
  overflow: hidden;
}
.vector-icon1 {
  height: 100%;
  width: 10.26%;
  right: 0;
  bottom: 0;
  left: 89.74%;
  max-width: 100%;
  max-height: 100%;
}
.frame21,
.frame22 {
  left: 0;
  width: 420.1px;
  height: 42px;
}
.frame21 {
  top: 229px;
  width: 448px;
}
.experience-in {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.12em;
  font-weight: 600;
}
.experience-with,
.frame23 {
  position: absolute;
  top: 0;
  left: 30px;
  width: 208px;
  height: 30px;
}
.frame23 {
  top: 150px;
  left: 105px;
  width: 238px;
  overflow: hidden;
  font-size: 20px;
  color: var(--secondary-text);
}
.frame19,
.portfolio {
  position: absolute;
  top: 0;
  left: 0;
}
.frame19 {
  width: 448px;
  height: 271px;
  overflow: hidden;
}
.portfolio {
  margin: 0;
  font-size: inherit;
  line-height: 35.75px;
  text-transform: uppercase;
  font-weight: 800;
  font-family: inherit;
  background: linear-gradient(180deg, #ff8660, #d5491d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.projects-title {
  left: 0;
  width: 182px;
  height: 36px;
}
.experience4,
.frame25,
.projects-title {
  position: absolute;
  top: 0;
}
.frame25 {
  left: 12px;
  width: 197px;
  height: 36px;
  overflow: hidden;
}
.experience4 {
  margin: 0;
  left: 0;
  font-size: inherit;
  line-height: 35.75px;
  text-transform: uppercase;
  font-weight: 800;
  font-family: inherit;
  background: linear-gradient(180deg, #5badff, #1372d1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.experience-title2,
.frame24,
.frame26 {
  position: absolute;
  top: 0;
  left: 0;
  width: 213px;
  height: 36px;
}
.frame24,
.frame26 {
  top: 460px;
  width: 214px;
  overflow: hidden;
}
.frame24 {
  top: 372px;
  left: 117px;
  height: 496px;
  font-size: var(--font-size-16xl);
}
.frame18 {
  top: 162px;
  left: 181px;
  width: 448px;
  height: 868px;
  font-size: 21.38px;
  color: var(--background-color);
}
.frame12,
.frame18,
.frame4 {
  position: absolute;
  overflow: hidden;
}
.frame12 {
  top: 0;
  left: 323px;
  width: 810px;
  height: 1535px;
  font-size: 14.49px;
  color: var(--light-grey);
  font-family: var(--font-poppins);
}
.frame4 {
  top: 609px;
  left: -8px;
  width: 1456px;
  height: 2060.8px;
  text-align: left;
  font-size: var(--font-size-lgi);
  font-family: var(--font-inter);
}
.web-design {
  position: relative;
  background-color: var(--background-color);
  width: 100%;
  height: 2670px;
  overflow: hidden;
  text-align: center;
  font-size: 48px;
  color: var(--primary-color);
  font-family: var(--font-poppins);
}
